.Button {
  padding: 20px;
}
.example-enter {
  opacity: 0.01;
}

.example-enter {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}
.example-enter-active {
  opacity: 1;
  transition: opacity 5000ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
